Repository buildkite-solutions/kubecon-demo: changes, and which Buildkite steps are due for each by the changed paths.
All: kubecon-demo-go-hello-world, kubecon-demo-node-hello-world, kubecon-demo-python-hello-world

kubecon-demo-go-hello-world:
  trigger: kubecon-demo-go-hello-world

kubecon-demo-node-hello-world:
  trigger: kubecon-demo-node-hello-world

kubecon-demo-python-hello-world:
  trigger: kubecon-demo-python-hello-world

fix: 'v' in plugin version target
  .buildkite/pipeline.yaml
Due: none

chore: upload go based hello world app
  services/go-hello-world/.buildkite/pipeline.yml
  services/go-hello-world/README.md
  services/go-hello-world/catalog-info.yaml
  services/go-hello-world/go.mod
  services/go-hello-world/main.go
  services/go-hello-world/main_test.go
Due: kubecon-demo-go-hello-world

chore: upload node based hello world
  services/node-hello-world/.buildkite/pipeline.yml
  services/node-hello-world/README.md
  services/node-hello-world/catalog-info.yaml
  services/node-hello-world/index.js
  services/node-hello-world/index.test.js
  services/node-hello-world/package.json
Due: kubecon-demo-node-hello-world

chore: upload python based hello world
  services/python-hello-world/.buildkite/pipeline.yml
  services/python-hello-world/README.md
  services/python-hello-world/app.py
  services/python-hello-world/catalog-info.yaml
  services/python-hello-world/requirements.txt
  services/python-hello-world/test_app.py
Due: kubecon-demo-python-hello-world

fix: location of reqs file
  services/python-hello-world/.buildkite/pipeline.yml
Due: kubecon-demo-python-hello-world

fix: mounting fix
  services/python-hello-world/.buildkite/pipeline.yml
Due: kubecon-demo-python-hello-world

fix: unittest fix with dep
  services/python-hello-world/.buildkite/pipeline.yml
Due: kubecon-demo-python-hello-world

fix: cd in to services to run commands
  services/go-hello-world/.buildkite/pipeline.yml
  services/node-hello-world/.buildkite/pipeline.yml
Due: kubecon-demo-go-hello-world, kubecon-demo-node-hello-world

fix: go verify won't work
  services/go-hello-world/.buildkite/pipeline.yml
Due: kubecon-demo-go-hello-world

chore: git ignore
  services/.gitignore
  services/node-hello-world/node_modules/.package-lock.json
Due: kubecon-demo-node-hello-world

Add auto-accept to cli args
  services/node-hello-world/.buildkite/pipeline.yml
Due: kubecon-demo-node-hello-world

Add auto-accept to cli args (#1)
  services/node-hello-world/.buildkite/pipeline.yml
Due: kubecon-demo-node-hello-world

Path conditions:
  kubecon-demo-go-hello-world: any of: services/go-hello-world
  kubecon-demo-node-hello-world: any of: services/node-hello-world
  kubecon-demo-python-hello-world: any of: services/python-hello-world
